// Media queries

$phone: 300px;
$tablet: 740px;


@media (min-width: $phone) and (max-width: $tablet) {
  .thumb {
    width: 100%!important;
    margin: 5px!important;
    margin: auto!important;
    height: auto;
  }

  .item {
    display: block!important;

    h2 {
      margin-top: 15px!important;
      text-align: center;
    }
  }

  .main {
    padding: 0px!important;
    width: 95%!important;
    margin: 0 auto!important;

    .comments {
      width: 90%!important;
      margin: 20px auto;
    }
  }

  .content {
    margin: 0 auto!important;
    padding: 0px!important;
    width: 99%!important;

    .item {
      width:100%!important;
      margin: 0 auto;
      padding:0px;

      #image1, #image2, #image3, #image4 {
        width: 99%!important;
        margin: auto!important;
      }
    }
  }

  h1, #menu {
    display: block!important;
  }

  #menu ul {
    text-align: center;
    margin: auto;
    padding: 0px!important;
  }
}



// Font mixin

@import "bourbon/bourbon";

@mixin font-face($name, $file) {
    $filepath: "fonts/" + $file;
    @font-face {
        font-family: "#{$name}";
        src: url($filepath + ".otf");
    }
}

// Font book

// @include font-face(Folklore, Folklore);

@include font-face(Moons, moons);

@include font-face(MoonsIT, TT-Moons-Thin-Italic-DEMO);


// Color palate

$sand: #FDCEA4;
$orange: #EF5318;
$plum: #9D224E;
$rose: #F4AFC2;
$blue: #AED4DD;

$font: #484747;

// Page style

body {
  margin: 0 auto;
  width: 100%;
  font-family: 'Moons';
  color: $font;

  a {
    text-decoration: none;
    color: inherit;
  }
}

#menu {
  height: 80px;
  display: inline-block;

  ul {
    margin-bottom: 10px;

    li {
      list-style: none;
      display: inline-block;
      margin: 30px;
      text-transform: uppercase;
      text-align: center;
    }
  }
}

// #description {
//   text-transform: uppercase;
//   margin-bottom: 30px;
//   margin-left: 20px;
//   margin-top: 0px;
//   font-size: 110%;
//   letter-spacing: 4px;
// }

.main {
  margin: auto;
  width: 100%;

  .blog {
    margin: 30px auto;
    height: 550px;
    background: url('images/five.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: scroll;
  }
}

h1 {
  font-size: 55px;
  line-height: 50%;
  margin: 20px;
  color: $font;
  display: inline-block;
  margin-bottom: 5px!important;
  font-family: MoonsIT;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;

  &:hover {
    color: $rose;
    opacity: 0.4;
  }
}

a {
  cursor: pointer;

  &:hover {
    opacity: 0.4;
  }
}

.item {
  display: inline-block;
  padding: 20px;

  .thumb {
    width: 400px;
    height: 400px;
    margin: auto;
    float: left;
    z-index: -1;

    #image1 {
      width: 400px;
      height: 400px;
      background-image: url('images/two.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    #image2 {
      width: 400px;
      height: 400px;
      background-image: url('images/three.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    #image3 {
      width: 400px;
      height: 400px;
      background-image: url('images/four.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    #image4 {
      width: 400px;
      height: 400px;
      margin: 0 auto;
      background-image: url('images/six.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  h2 {
    display: inline-block;
    margin: 20px;
  }

  p {
    display: block;
    float: left;
    margin: 20px;
    width: 300px;
  }
}

.content {
  margin: auto;
  padding: 40px;
}

#heada {
  font-size: 35px;
}
  .comments {
    width: 70%;
    margin: 20px auto;

    .post {
    margin: 20px auto;

    p {
      border: 1px solid $rose;
      padding: 20px;
    }
  }
}

.hova {
  // display: none;
  color: #fff;
  font-size: 50px;
  padding: 15px;
  // line-height: 700%;
  text-transform: uppercase;
  z-index: 1;
}

.item:hover + .hova {
  display: inline;
}

button {
  text-transform: uppercase!important;
  padding: 15px;
  background-color: #fff;
  border: 1px solid $blue;
}
