#heada {
  font-size: 35px;
}
  .comments {
    width: 70%;
    margin: 20px auto;
    @include phone {
      width: 90%!important;
      margin: 20px auto;
    }

    .post {
    margin: 20px auto;

    p {
      border: 1px solid $rose;
      padding: 20px;
      font-family: helvetica neue;
      letter-spacing: 1px;
      text-transform: none;
      font-weight: 100;
      font-size: 90%;
    }
  }
}
