body {
  margin: 0 auto;
  width: 100%;
  font-family: 'Moons';
  color: $font;

  a {
    text-decoration: none;
    color: inherit;
  }
}

@include keyframes(slide-down) {
  0% { opacity: 1; }
  90% { opacity: 0; }
}

.main {
  margin: auto;
  width: 100%;
  @media screen and (min-width: 740px){
    padding: 0px!important;
    width: 95%!important;
    margin: 0 auto!important;
  }

  .blog {
    margin: 30px auto;
    height: 550px;
    background: url('../../images/five.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: scroll;
  }
}
