@include keyframes(slide-in) {
  0% { opacity: 1; }
  90% { opacity: 0; }
}

h1 {
  font-size: 55px;
  line-height: 50%;
  margin: 20px;
  color: $font;
  display: inline-block;
  margin-bottom: 5px!important;
  font-family: MoonsIT;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  @include transition(color 1s ease);
  @include phone {
    display: block;
  }
  &:hover {
    color: $rose;
    opacity: 0.4;
  }
}

a {
  cursor: pointer;

  &:hover {
    opacity: 0.4;
  }
}
